<div class="form-element">
  <h3 class="form-heading">Login</h3>
  <form novalidate name="loginForm" role="form">
    <div class="form-group" ng-class="{'has-error': (loginForm.userName.$dirty && loginForm.userName.$error.required)}">
      <label class="control-label" for="userName">Benutzername</label>
      <input name="userName" type="text" class="form-control" ng-model="user.name" placeholder="Benutzername" required />
    </div>
    <div class="form-group" ng-class="{'has-error': loginForm.userPassword.$dirty && loginForm.userPassword.$error.required}">
      <label class="control-label" for="userPassword">Passwort</label>
      <input name="userPassword" type="password" class="form-control" ng-model="user.password" placeholder="Passwort" required />
    </div>

    <div class="alert alert-danger" ng-show="loginForm.$error.loginfailed">{{errorMessage}}</div>    
    
    <div class="button-group">
      <button ng-click="update(user)" class="btn btn-primary" ng-disabled="loginForm.$invalid">Login</button>
    </div>
  </form>
</div>